// MONTSERRAT BOLD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
$mainfont: 'Montserrat';

// MONTSERRAT MEDIUM
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
$mainmedium: 'Montserrat Medium';

// ROBOTO REGULAR
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
$secondaryfont: 'Roboto';